<ion-header>
  <ion-toolbar>
    <ion-title>Convidados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let c of convidados">
      <!-- Link para edição-->
      <ion-item (click)="editConvidado(c.id)">
        <h2>{{c.nome}}</h2>
      </ion-item>

      <!-- Botao para apagar-->
      <ion-item-options side="end">
        <ion-button color="danger" (click)="removeConvidado(c.id)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </ion-button>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <!-- Botao Novo-->
  <ion-fab>
      <ion-fab-button color="light" (click)="addConvidado()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>

</ion-content>